<!--*** MAIN COMPONENT ***-->

<main class="p-5 text-center container-fluid">
  <section id="inicio" class="main-content">
    <h1 class="title mb-5">Tears Of The Kingdom</h1>
    <p class="lead mb-5">
      Un juego sorprendente que te llevará a lugares, tanto de ensueño como
      espelusnantes. Embárcate en una aventura llena de creatividad y diversión.
      Acompaña a Link a rescatar a Zelda que ha sido atrapada por Ganondorf.
    </p>
    <p class="lead">
      <a href="#" class="btn btn-lg btn-light fw-bold border-black bg-white"
        >Saber más</a
      >
    </p>
  </section>
</main>
