.card {
  width: 18rem;
}

.wrapper {
  width: 60rem;
  margin: 15rem auto;
}

.texto {
  width: 30rem;
  margin: auto;
}

.card-img-top {
  width: 100%;
  height: 250px; // Puedes ajustar la altura según lo que necesites
}
